.body{
    text-align: center;
    border: 1px solid black;
    width: 200px;
    margin: 50px auto;
    padding: 20px;
    font-size: 30px;
    border-radius: 6px;
}
.display{
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: none;
}